@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a vet managment system</a>.</p>
    
    <h5>Vets</h5>
    <a asp-controller="VetDoctors" asp-action="Index">View</a><br />
    <h5>Pets</h5>
    <a asp-controller="Pets" asp-action="Index">View</a><br />
    <h5>Vet Notes</h5>
    <a asp-controller="PetDetails" asp-action="Index">View</a>

</div>
